body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: "F25 Bank Printer";
    user-select: none;
}

/*site*/
.container{
    display: flex;
    flex: 1;
    height: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    display: flex;
    height: 50px;
    width: 900px;
    border: solid 5px white;
    justify-content: center;
    line-height: 50px;
    animation: pulse2 6s ease infinite;
}
.item-table{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 900px;
    height: 610px;
    border-left: solid 5px white;
    border-right: solid 5px white;
    border-bottom: solid 5px white;
    font-size: 9px;
    font-family: "Pixeled Regular";
}
table th{
    width: 300px;
    height: 30px;
}
table th .green:hover{
    animation: pulse 1s ease infinite;
}
/*.middle{
    border-left: solid 2px white;
    border-right: solid 2px white;
}*/
.quantity{
    display: flex;
}
.btn{
    width: 50px;
    height: 30px;
    background-color: black;
    border: NONE;
    color: white;
    cursor: pointer;
    outline: none;
}
.btn:hover{
    background-color: #27702a;
}
.amount {
    width: 200px;
    text-align: center;
    line-height: 30px;
}

.test {
    border: solid 1px white;
    height: 50px;
}
.table-bottom{
    width: 900px;
    height: 68px;
}
.big {
    width: 450px;
    font-size: 12px;
}
.green:hover {
    animation: pulse 1s ease infinite;
}
.red:hover{
    animation: pulse3 1s ease infinite;
}
.menu{
    display: flex;
    flex: 1;
    justify-content: center;
}
.left{
    text-align: center;
    flex-direction: column;
    
}
.bank {
    display: flex;
    width: 435px;
    height: 50px;  
    margin-top: 10px;
}
.bank table th:hover {
    animation: pulse2 1s ease infinite;
}
.storage {
    display: flex;
}
.parts, .salvage {
    margin-left: 21px;
    width: 200px;
    display: flex;
}
.parts table th:hover {
    animation: pulse 1s ease infinite;
}
.action {
    display: flex;
    margin-left: 21px;
    margin-top: 10px;
    width: 400px;
    justify-content: center;
}
.buttons1 {
    display: flex;
    flex-direction: column;
}
.sendBtn{
    outline: none;
    width: 200px;
    height: 57px;
    background-color: transparent;
    outline: none;
    border: solid 2px white;
    color: white;
    font-family: "Pixeled Regular";
    cursor: pointer;
    text-align: center;
}
.waitBtn{
    width: 200px;
    height: 57px;
    background-color: transparent;
    border: solid 2px white;
    outline: none;
    color: white;
    font-family: "Pixeled Regular";
    cursor: pointer;
    animation: pulse3 1s ease infinite;
    text-align: center;
}
.disable{
    display: none;
}
.enable {
    display: block;
}
.actBtn {
    text-align: center;
    outline: none;
    height: 57px;
    width: 200px;
    background-color: transparent;
    color: white;
    border: solid 2px white;
    margin-left: 5px;
    font-family: "Pixeled Regular";
    cursor: pointer;
}
.blue:hover{
    animation: pulse2 1s ease infinite;
}
.right{
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}
.craftPanel {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 293px;
    margin-left: 2px;    
}
.upperPanel{
    height: 40px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 2px white;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-top: solid 2px white;
    border-left: solid 2px white;
    cursor: pointer;
}
.last {
    border-right: solid 2px white;
}
.lowerpanel{
    height: 243px;
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
}
.craft {
    display: flex;
}
.icon {
    width: 198px;
    height: 243px;
    border-right: solid 1px white;
}
.iconimagePC {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #272727, #818181);
    width: 198px;
    height: 138px;
    border-bottom: solid 1px white;
}
.iconimageRD {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #132b13, #2f9634);
    width: 198px;
    height: 138px;
    border-bottom: solid 1px white;
}
.iconimageEMP {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #0f1e31, #2c6bbd);
    width: 198px;
    height: 138px;
    border-bottom: solid 1px white;
}
.iconimageJAM {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #520d0d, #c01b1b);
    width: 198px;
    height: 138px;
    border-bottom: solid 1px white;
}
.recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-items {
    display: flex;
    flex-direction: column;
}
.recipe table {
    margin-top: 5px;
    font-size: 8px;
    width: 200px;
    height: 100px;
}
.recipe table th {
    height: 20px;
    width: 25px;
    text-align: center;
}
.actionarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 100px;
}
.craftBtn{
    border: solid 1px white;
    background-color:transparent;
    width: 100px;
    height: 25px;
    color: white;
    font-weight: bold;
    font-size: 8px;
    font-family: "Pixeled Regular";
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/*modal buy item*/
.lowerpanel-loadingPC{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin-top: 40px;
    height: 247px;
    width: 396px;
    background-color: #707070;
    border: solid 2px white;
}
/*radar*/
.lowerpanel-loadingRD{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin-top: 40px;
    height: 247px;
    width: 396px;
    background-color: #27702a;
    border: solid 2px white;
}
/*emp*/
.lowerpanel-loadingEMP{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin-top: 40px;
    height: 247px;
    width: 396px;
    background-color: #2a6fbe;
    border: solid 2px white;
}
/*JAMMER*/
.lowerpanel-loadingJAM{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin-top: 40px;
    height: 247px;
    width: 396px;
    background-color: #be2a2a;
    border: solid 2px white;
}
.waiting {
    font-size: 25px;
    margin-top: 35px;
}
.loadbar {
    width: 300px;
    margin: auto;
    height: 10px;
    border: solid 1px white;
}
.loadPC {
    width: 300px;
    height: 10px;
    animation: crafting 5s ease 0s normal forwards;
}
.timeout {
    margin-bottom: 35px;
}
.buttonCraft, .buttonCraftRD, .buttonCraftEMP, .buttonCraftJAM {
    margin: auto;
    margin-top: 20px;
    width: 120px;
    height: 60px;
    text-align: center;
    border: solid 2px white;
    cursor: pointer;
}
.buttonCraft:hover{
    animation: pulse7 1s ease infinite;
}
.buttonCraftRD:hover{
    animation: pulse8 1s ease infinite;
}
.buttonCraftEMP:hover{
    animation: pulse5 1s ease infinite;
}
.buttonCraftJAM:hover {
    animation:  pulse4 1s ease infinite;
}

/*test pulse*/
@keyframes pulse {
	0% {
        background-color: black;
    }
    50% {
        background-color: #27702a;
    }
    100% {
        background-color: black;
    }
}

@keyframes pulse2 {
    0% {
        background-color: black;
    }
    50% {
        background-color: #2a6fbe;
    }
    100% {
        background-color: black;
    }
}

@keyframes pulse3 {
    0% {
        background-color: black;
    }
    50% {
        background-color: #be2a2a;
    }
    100% {
        background-color: black;
    }
}

@keyframes pulse4 {
    0% {
        background-color: #be2a2a;
    }
    50% {
        background-color: #fc8f8f;
    }
    100% {
        background-color: #be2a2a;
    }
}

@keyframes pulse5 {
    0% {
        background-color: #2a6fbe;
    }
    50% {
        background-color: #8fa8fc;
    }
    100% {
        background-color: #2a6fbe;
    }
}

@keyframes pulse6 {
    0% {
        background-color: #000000;
    }
    50% {
        background-color: #707070;
    }
    100% {
        background-color: #000000;
    }
}

@keyframes pulse7 {
    0% {
        background-color: #707070;
    }
    50% {
        background-color: #dfdfdf;
    }
    100% {
        background-color: #707070;
    }
}

@keyframes pulse8 {
    0% {
        background-color: #27702a;
    }
    50% {
        background-color: #54b858;
    }
    100% {
        background-color: #27702a;
    }
}


@keyframes crafting {
    0% {width: 0%; background-color: white;}
    100% {width: 100%; background-color: white;}
}

/*modal funds teste*/
.modalwindow {
    display: flex;
    flex: 1;
    height: 660px;
    width: 900px;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    align-items: center;
}
/*intro*/
.modalwindowIntro {
    display: flex;
    flex: 1;
    height: 660px;
    width: 900px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    align-items: center;
}
.textintro{
    float: left;
}
.leftIntro{
    text-align: justify;
    display: flex;
    width: 500px;
    margin: 15px;    
}
.okIntro {
    text-align: center;
    width: 500px;
    padding: 30px;
    font-size: 25px;
    border: solid 2px white;
    cursor: pointer;
}
.okIntro:hover {
    animation: pulse3 1s ease infinite;
}
.rightIntro {
    float: right;
    width: 300px;
    height: 600px;
    background-color: #be2a2a;
    margin: 35px;
    background-image: url(/ASSETS/IMG/wasteland.gif);
    
}


.modalcontent {
    width: 900px;
    height: 120px;
    background-color: #be2a2a;
    display: flex;
    margin-top: 250px;
    justify-content: center;
    align-items: center;
}

.modaltitle{
    width: 450px;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    margin-left: 120px;
}
.closemodal {
    align-items: center;
    justify-content: center;
    width: 450px;
    display: flex;
    text-align: center;    
}
.closebtn{
    display: flex;
    width: 300px;
    height: 90px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    cursor: pointer;
}
.closebtn:hover{
    animation: pulse4 1s ease infinite;
}

/*loot*/
.modalLoot {
    width: 400px;
    height: 400px;
    background-color: black;
    border: solid 5px white;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 130px;
}

.LootTitle {
    display: flex;
    height: 50px;
    width: 400px;
    border-bottom: solid 5px white;
    justify-content: center;
    line-height: 50px;
    background-color: #2a6fbe;
}

.lootTable{
    margin-top: 25px
}

.confirmLoot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
}
.OKbutton {
    width: 300px;
    height: 50px;
    border: solid 3px white;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
}
.OKbutton:hover{
    animation: pulse5 1s ease infinite;
}


/*Barras progresso teste*/
.progress{
    display: flex;
    flex-direction: column;
    width: 198px;
    height: 5px;
    margin-top: 5px;
    border: solid 1px white;
}
.progress-bar{
    height: 5px;
    animation: cooldownSend 210s ease-in-out;
}
.mark {
    height: 5px;
}
.mark img {
    margin-left: 137px;
    height: 7px;
    margin-bottom: 8px;
}
.cooldown{
    width: 198px;
    height: 5px;
    margin-top: 5px;
    border: solid 1px white;
}

@keyframes cooldownSend {
    0% {width: 0%; background-color: white;}
    100% {width: 100%; background-color: white;}
}

.orange:hover {
    animation: pulse6 1s ease infinite;
}