body {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: "F25 Bank Printer";
    user-select: none;
}

/*site*/
.container{
    display: flex;
    flex: 1;
    height: 900px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    display: flex;
    height: 50px;
    width: 900px;
    border: solid 5px white;
    justify-content: center;
    line-height: 50px;
    animation: pulse2 6s ease infinite;
}
.item-table{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 900px;
    height: 610px;
    border-left: solid 5px white;
    border-right: solid 5px white;
    border-bottom: solid 5px white;
    font-size: 9px;
    font-family: "Pixeled Regular";
}
table th{
    width: 300px;
    height: 30px;
}
table th .green:hover{
    animation: pulse 1s ease infinite;
}
/*.middle{
    border-left: solid 2px white;
    border-right: solid 2px white;
}*/
.quantity{
    display: flex;
}
.btn{
    width: 50px;
    height: 30px;
    background-color: black;
    border: NONE;
    color: white;
    cursor: pointer;
    outline: none;
}
.btn:hover{
    background-color: #27702a;
}
.amount {
    width: 200px;
    text-align: center;
    line-height: 30px;
}

.test {
    border: solid 1px white;
    height: 50px;
}
.table-bottom{
    width: 900px;
    height: 68px;
}
.big {
    width: 450px;
    font-size: 12px;
}
.green:hover {
    animation: pulse 1s ease infinite;
}
.red:hover{
    animation: pulse3 1s ease infinite;
}
.menu{
    display: flex;
    flex: 1;
    justify-content: center;
}
.left{
    text-align: center;
    flex-direction: column;
    
}
.bank {
    display: flex;
    width: 435px;
    height: 50px;  
    margin-top: 10px;
}
.bank table th:hover {
    animation: pulse2 1s ease infinite;
}
.storage {
    display: flex;
}
.parts, .salvage {
    margin-left: 21px;
    width: 200px;
    display: flex;
}
.parts table th:hover {
    animation: pulse 1s ease infinite;
}
.action {
    display: flex;
    margin-left: 21px;
    margin-top: 10px;
    width: 400px;
    justify-content: center;
}
.sendBtn{
    outline: none;
    width: 200px;
    height: 59px;
    margin-top: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-family: "Pixeled Regular";
    cursor: pointer;
    text-align: center;
}
.waitBtn{
    width: 200px;
    height: 59px;
    margin-top: 5px;
    background-color: transparent;
    border: solid 2px white;
    outline: none;
    color: white;
    font-family: "Pixeled Regular";
    cursor: pointer;
    text-align: center;
}
.disable{
    display: none;
}
.enable {
    display: block;
}
.actBtn {
    text-align: center;
    outline: none;
    width: 200px;
    background-color: transparent;
    color: white;
    border: none;
    margin-top: 5px;
    margin-left: 5px;
    font-family: "Pixeled Regular";
    font-size: 9px;
    cursor: pointer;
}
.blue:hover{
    animation: pulse2 1s ease infinite;
}
.right{
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}
.craftPanel {
    background-color: azure;
    display: flex;
    width: 400px;
    height: 293px;
    margin-left: 2px;
    
}


/*test pulse*/
@keyframes pulse {
	0% {
        background-color: black;
    }
    50% {
        background-color: #27702a;
    }
    100% {
        background-color: black;
    }
}

@keyframes pulse2 {
    0% {
        background-color: black;
    }
    50% {
        background-color: #2a6fbe;
    }
    100% {
        background-color: black;
    }
}

@keyframes pulse3 {
    0% {
        background-color: black;
    }
    50% {
        background-color: #be2a2a;
    }
    100% {
        background-color: black;
    }
}

@keyframes pulse4 {
    0% {
        background-color: #be2a2a;
    }
    50% {
        background-color: #fc8f8f;
    }
    100% {
        background-color: #be2a2a;
    }
}

@keyframes pulse5 {
    0% {
        background-color: #2a6fbe;
    }
    50% {
        background-color: #8fa8fc;
    }
    100% {
        background-color: #2a6fbe;
    }
}

/*modal funds teste*/
.modalwindow {
    display: flex;
    flex: 1;
    height: 660px;
    width: 900px;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    align-items: center;
}
.modalcontent {
    width: 900px;
    height: 120px;
    background-color: #be2a2a;
    display: flex;
    margin-top: 250px;
    justify-content: center;
    align-items: center;
}
.modaltitle{
    width: 450px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
    margin-left: 120px;
}
.closemodal {
    align-items: center;
    justify-content: center;
    width: 450px;
    display: flex;
    text-align: center;    
}
.closebtn{
    display: flex;
    width: 300px;
    height: 90px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid 3px white;
    cursor: pointer;
}
.closebtn:hover{
    animation: pulse4 1s ease infinite;
}

/*loot*/
.modalLoot {
    width: 400px;
    height: 400px;
    background-color: black;
    border: solid 5px white;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 130px;
}

.LootTitle {
    display: flex;
    height: 50px;
    width: 400px;
    border-bottom: solid 5px white;
    justify-content: center;
    line-height: 50px;
    background-color: #2a6fbe;
}

.lootTable{
    margin-top: 25px
}

.confirmLoot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
}
.OKbutton {
    width: 300px;
    height: 50px;
    border: solid 3px white;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
}
.OKbutton:hover{
    animation: pulse5 1s ease infinite;
}


/*Barras progresso teste*/
